* {
  padding: 0;
  margin: 0;
}

.background {
  background-color: #252839;
  height: 100vh;
  padding-top: 1px;
}

.title {
  color: aquamarine;
  text-align: center;
  font-size: 40px;
  margin-top: 2.5%;
}

h2 {
  color: antiquewhite;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 20px;
  text-align: center;
}

.display {
  color: aquamarine;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 25px;
  text-align: center;
}

.board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
}

.cell {
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.cell:hover {
  background: aquamarine;
  cursor: pointer;
}

.reset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.reset button {
  color: aqua;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  margin-left: 1em;
  cursor: pointer;
}

.hide {
  display: none;
}
